<% provide(:title, @user.name) %>   
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.book_reviews.any? %>
      <h3>参考書書評 (<%= @user.book_reviews.count %>)</h3>
      <ol class="book_reviews">
        <%= render @book_reviews %>
      </ol>
      <%= will_paginate @book_reviews %>
    <% end %>
  </div>
</div>