<header>
  <div class="header-left">
    <%= link_to root_url do %>
      <%= image_tag "top-logo.svg", class: "logo" %>
    <% end %>
  </div>
  <%= icon('fas', 'bars', class: "menu-icon") %>
  <div class="header-right">
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
  </div>
</header>