<header>
  <div class="header-left">
    <%= link_to root_path do %>
      <%= image_tag "top-logo.svg", class: "logo" %>
    <% end %>
  </div>
  <div class="header-right">
  <%= icon('fas', 'bars', class: "menu-icon", id: "show") %>
    <div id="except_sp">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
    </div>
  </div>
</header>